<!-- rakken/templates/rakken/rakkengraph.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %} 
{% endblock css_files%}

{% block content %}
  {% include 'includes/breadcrumb.html' %}
  <div class="container">
    <br>
    <img src="data:image/png;base64,{{ data }}" alt="" height="400" ,width="800">
    <br>
    <p>Aantal Nodes: <strong>{{ aantalnodes }}</strong></p>
    <p>Aantal Edges: <strong>{{ aantaledges }}</strong></p>
  </div>
{% endblock content %}