<!-- rakken/templates/rakken/show_rak.html -->

{% extends 'base.html' %}

{% block title%}
  Rak {{ rak.uuid }}
{% endblock title %}

{% block content %}
  <div class='row'>
    <div class='col-md-5'>
      <h2>Rak:</h2>
      <p>Type: <strong>{{ rak.type }}</strong></p>
      <p><a href="{% url 'rakken:show-waypoint' rak.waypoint1.uuid %}">{{ rak.waypoint1.naam }}</a> {{ rak.waypoint1.omschrijving }}</p>
      <p><a href="{% url 'rakken:show-waypoint' rak.waypoint2.uuid %}">{{ rak.waypoint2.naam }}</a> {{ rak.waypoint2.omschrijving }}</p>
      <p>Lengte: {{ rak.lengte }}</p>
      <p>Afstand: {{ rak.afstand }}</p>
      <p>Koers van {{ rak.waypoint1.naam }} naar {{ rak.waypoint2.naam }} : {{ rak.bearing12 }}</p>
      <p>Koers van {{ rak.waypoint2.naam }} naar {{ rak.waypoint1.naam }} : {{ rak.bearing21 }}</p>
    </div>
    <div class='col-md-7'>
      <h4>kaart</h4>
      {{ m |safe }}
    </div>
  </div>
  <br>
  {% if user.is_authenticated %}
    <br>
    <a href="{% url 'rakken:update-rak' rak.pk %}?next={{request.get_full_path}}" class="btn btn-secondary" >Edit</a>
    <a href="{% url 'rakken:delete-rak' rak.pk %}" class="btn btn-secondary" >Delete</a>
  {% endif %}
  <a href="{% url 'rakken:all-rakken' %}" class="btn btn-secondary">Terug</a>
{% endblock content %}