<!-- templates/includes/navbar.html -->

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo -->
  <a class="nav-brand" href="{% url 'site-basis:home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
<!-- buttons -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Linkerkant van de Navbar -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'site-basis:home' %}">Home </a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'rakken:all-waypoints' %}">Waypoints</a></li>
      <!-- Rakken menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Rakken</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'rakken:all-rakken' %}">Rakken</a></li>
            <li><a class="dropdown-item" href="{% url 'rakken:rakkenkaart' %}">Rakken-kaart</a></li>
            <li><a class="dropdown-item" href="{% url 'rakken:rakkengraph' %}">Rakken-graph</a></li>
          </ul>
        </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'boten:all-boten' %}">Boten</a></li>
       <!-- Rakken menu -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Rakscore</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'rakken:all-rakscore' %}">Rakscore</a></li>
            <li><a class="dropdown-item" href="{% url 'rakken:rakscorekaart' %}">Rakscore-kaart</a></li>
            <li><a class="dropdown-item" href="{% url 'rakken:rakscorekaart8uurs' %}">Rakscore-kaart 8uurs</a></li>
          </ul>
        </li>
    </ul>

    <!-- Rechterkant van de Navbar -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="{% url 'site-basis:about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'site-basis:contact' %}">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'site-basis:privacy' %}">Privacy</a></li>
      <!-- Usermanagement -->
      {% if user.is_authenticated %}
      <li class="nav-item dropdown dropstart">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'users:account' %}">Edit Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'users:account' %}">Change password</a></li>
          {% if user.userprofile.id %}
                <a class="dropdown-item" href="{% url 'users:user-info' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'users:account' %}">Show Profile</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'users:user-info' %}">Create Profile</a>
              {% endif %}
          <li><a class="dropdown-item" href="{% url 'users:sign-out' %}">Logout</a></li>
        </ul>
      </li>              
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:sign-in' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:sign-up' %}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
